* {
    padding: 0;
    font-family: "Poppins", sans-serif;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


/*Navbar*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #97DEFF;
}

.logo img {
    width: 150px;
    height: 150px;
}

.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.main a {
    margin-right: 10px;
    color: black;
    font-weight: bold;
}

.buttonlogin {
    background-color: #2B3467;
    color: #fff;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.buttonlogin:hover {
    scale: 1.05;
}


/* Event view */

.radio-btn {
    display: flex;
    align-items: center;
    flex-direction: row;

}

.choice {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 30px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #006ed5;
    padding-top: 8px;
}


div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
}

span {
    color: red;
}


.top {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
}


input[type=text],
[type=email],
[type=password],
[type=date] {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

textarea {
    width: 300px;
    height: 100px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    resize: none;
}


button {
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 50px;
    margin: 10px 5px;
    padding: 9px;
    color: white;
    background-color: #006ed5;
    cursor: pointer;
}

button:hover {
    scale: 1.05;
}

.event-details {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.event-details p {
    max-width: 450px;
    text-align: center;
    padding-bottom: 9px;
}

.success-msg {
    background-color: green;
    color: white;
}

/* Application view */

.application {
    margin: 20px;
    padding: 20px;
    background-color: #E5B8F4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.application ul {
    list-style: none;
    padding: 0;
    text-align: center;

}

.application a {
    text-decoration: none;
    text-align: center;
    width: 100px;
    height: 23px;
    border: none;
    border-radius: 50px;
    margin: 10px 5px;
    padding: 9px;
    color: white;
    background-color: #006ed5;
    cursor: pointer;
}

.application a:hover {
    scale: 1.05;
}

.application li {
    margin-bottom: 10px;
    font-size: 18px;
}

.application small {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}


.events {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
}

.events li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.eventbutton {
    background-color: #006ed5;
    color: #fff;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    width: 150px;
    height: 40px;
    cursor: pointer;
}
